[run]
source =
    tornado_websockets

omit =
    tornado_websockets/__init__.py
    tornado_websockets/**/__init__.py
    tornado_websockets/tests/test_*.py
    tornado_websockets/tests/helpers.py

[report]
exclude_lines =
    if not test_mode:
