[submodule "tornado_websockets/static/tornado_websockets/websockets-client"]
	path = tornado_websockets/static/tornado_websockets/websockets-client
	url = https://github.com/Kocal/django-tornado-websockets-client.git
