<!DOCTYPE html>
<html>
<body>
<h1>Hello from tornado!</h1>

<form name="send">
    <input id="msg">
    <input type="submit" value="Send">
</form>

<script>
    var ws = new WebSocket("ws://127.0.0.1:8000/ws/chat");
    var $form = document.querySelector('form[name="send"]');
    var $msg = document.querySelector('input#msg');
    ws.onopen = function () {
        ws.send(JSON.stringify({
                    event: 'message',
                    data: {message: "Hello, world"},
                    namespace: '/chat'
                }
        ));
        $form.addEventListener('submit', function (e) {
            e.preventDefault();
            ws.send(JSON.stringify({
                        event: 'message',
                        data: {message: $msg.value},
                        namespace: 'my_chat'
            }
            ));
        }, false);
    };
    ws.onmessage = function (evt) {
        data = JSON.parse(evt.data);
        console.log(data)
    };
</script>
</body>
</html>
