<!DOCTYPE html>
<html>
<body>
<h1>Hello from tornado!</h1>

<form name="send">
    <textarea id="msg"></textarea>
    <input type="submit" value="Send">
</form>

<ul id="messages"></ul>

<script>
    var ws = new WebSocket("ws://127.0.0.1:8000/ws/chat");
    var $form = document.querySelector('form[name="send"]');
    var $msg = document.querySelector('#msg');
    var $messages = document.querySelector('#messages')

    ws.onopen = function () {
        ws.send(JSON.stringify({event: 'connection'}));

        $form.addEventListener('submit', function (e) {
            e.preventDefault();

            ws.send(JSON.stringify({
                event: 'message',
                data: {
                    message: $msg.value
                }
            }));

            $msg.value = ''
        }, false);
    };

    ws.onmessage = function (evt) {
        data = JSON.parse(evt.data).data;

        console.log("Response from server: " + evt.data);

        var $li = document.createElement('li');
        $li.textContent = data.message

        $messages.appendChild($li)
    };

</script>
</body>
</html>