<!DOCTYPE html>
<html>
<body>
<h1>Hello from tornado!</h1>

<form name="send">
    <textarea id="msg"></textarea>
    <input type="submit" value="Send">
</form>

<ul id="messages"></ul>

{% load tornado_websocket %}
<script>
    var ws = new TornadoWebSocket(/* ... */);
    var $messages = document.querySelector('#messages');
    var $form = document.querySelector('form[name="send"]');

    ws.emit('connection'); // or during new TornadoWebSocket?

    function send_message(ws, message) {
        ws.emit('message', {
            message: message
        });
    }

    ws.on('connection', function () {
        send_message(ws, 'I just joined the web chat');
    });

    ws.on('message', function (data) {
        var $li = document.createElement('li');
        $li.textContent = data.message;
        $messages.appendChild($li);
    });

    ws.on('close', function () {
        send_message(ws, 'I leave the webchat');
        this.disconnect();
    });

    $form.addEventListener('submit', function (e) {
        e.preventDefault();
        send_message(ws, $msg.value);
        $msg.value = '';
    }, false);

</script>
</body>
</html>